{% assign grouped_talks = site.data.talks | sort: "date" | reverse | group_by_exp: "talk", "talk.date | date: '%Y'" %}


<div class="talks-list">
    {% for group in grouped_talks %}
    <h2>{{ group.name }}</h2> <!-- Year -->
    {% for talk in group.items %}
        <div class="talk-item">
        <h4>
            {% if talk.link and talk.link != blank %}
                <a href="{{ talk.link }}" target="_blank">{{ talk.event }}</a>
            {% else %}
            {{ talk.event }}
            {% endif %}
        </h4>
        <p>
            {{ talk.date | date: "%B %d, %Y" }} - {{ talk.location }}
        </p>
        {% if talk.details != blank | talk.title != blank %}
            <p>
            {% if talk.details and talk.details != blank %}
                {{ talk.details }}          
            {% endif %}
            {% if talk.details != blank and talk.title != blank %}
                "|"
            {% endif %}
            {% if talk.title and talk.title != blank %}
                "{{ talk.title }}"
            {% endif %}
            </p>
        {% endif %}
        </div>
  {% endfor %}
<hr>
{% endfor %}
</div>
